[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/noelruault/kross-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:noelruault/noelruault.github.io.git
	branch = main
